In [ ]:
import pandas as pd
clase1={"est":["None"],"notas1":["None"],"notas2":["None"],"notas3":["None"],"prom":["None"]}
clase2={"est":["None"],"notas1":["None"],"notas2":["None"],"notas3":["None"],"prom":["None"]}
clase3={"est":["None"],"notas1":["None"],"notas2":["None"],"notas3":["None"],"prom":["None"]}
n1=int(input("Número de estudiantes clase 1: "))
n2=int(input("Número de estudiantes clase 2: "))
n3=int(input("Número de estudiantes clase 3: "))
clase1["est"]=clase1["est"]*n1
clase1["notas1"]=clase1["notas1"]*n1
clase1["notas2"]=clase1["notas2"]*n1
clase1["notas3"]=clase1["notas3"]*n1
clase1["prom"]=clase1["prom"]*n1
clase2["est"]=clase2["est"]*n2
clase2["notas1"]=clase2["notas1"]*n2
clase2["notas2"]=clase2["notas2"]*n2
clase2["notas3"]=clase2["notas3"]*n2
clase2["prom"]=clase2["prom"]*n2
clase3["est"]=clase3["est"]*n3
clase3["notas1"]=clase3["notas1"]*n3
clase3["notas2"]=clase3["notas2"]*n3
clase3["notas3"]=clase3["notas3"]*n3
clase3["prom"]=clase3["prom"]*n3
print("Clase 1")
for a in range(0,n1):
  clase1["est"][a]=input("Nombre: ")
  clase1["notas1"][a]=int(input("Nota 1: "))
  clase1["notas2"][a]=int(input("Nota 2: "))
  clase1["notas3"][a]=int(input("Nota 3: "))
  clase1["prom"][a]=(clase1["notas1"][a]*clase1["notas2"][a]*clase1["notas3"][a])/3
print("Clase 2")
for a in range(0,n2):
  clase2["est"][a]=input("Nombre: ")
  clase2["notas1"][a]=int(input("Nota 1: "))
  clase2["notas2"][a]=int(input("Nota 2: "))
  clase2["notas3"][a]=int(input("Nota 3: "))
  clase2["prom"][a]=(clase2["notas1"][a]*clase2["notas2"][a]*clase2["notas3"][a])/3
print("Clase 3")
for a in range(0,n3):
  clase3["est"][a]=int(input("Nombre: "))
  clase3["notas1"][a]=int(input("Nota 1: "))
  clase3["notas2"][a]=int(input("Nota 2: "))
  clase3["notas3"][a]=int(input("Nota 3: "))
  clase3["prom"][a]=(clase3["notas1"][a]*clase3["notas2"][a]*clase3["notas3"][a])/3

print("\nClase1\n",pd.DataFrame.from_dict(clase1))
print("\nClase2\n",pd.DataFrame.from_dict(clase2))
print("\nClase3\n",pd.DataFrame.from_dict(clase3))

Número de estudiantes clase 1: 3
Número de estudiantes clase 2: 2
Número de estudiantes clase 3: 3
Nombre: Juan
Nota 1: 10
Nota 2: 8
Nota 3: 9
Nombre: David
Nota 1: 10
Nota 2: 10
Nota 3: 10
Nombre: Culo
Nota 1: 4
Nota 2: 3
Nota 3: 4
Nombre: asd
Nota 1: 1
Nota 2: 1
Nota 3: 1

TypeError: ignored

In [ ]:
a=["none"]
b=int(input("Number"))
a=a*b
a

Number5

['none', 'none', 'none', 'none', 'none']